*{
    margin: 0px;
}
body{
    background-color: rgb(44, 18, 69);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
    color: aliceblue;
    position: fixed;
    width: 100%;
    height: 5vh;
    z-index: 10;
}
.heading{
    font-size: 22px;
    font-weight: 900;
}
.pages >ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    font-size: 19px;
    cursor: pointer;
    position: relative;
    left: 300px;
}
.pages ul li:hover {
    color: black; /* Change text color to white */
}

/* .body{
    background-color: rgb(44, 18, 69);
    color: aliceblue;
    height: 100vh;
    width: 100%;
} */

.animations{
    color: aliceblue;
    height: 20px;
    width: 422px;
    text-align: center;
    position: relative;
    left: 265px;
    top: 273px;
    font-size: 33px;
}
#home{
    color: brown;
}
#img img {
    position: relative; 
    left: 1000px;
    top: 200px;
    height: 350px;
    width: 500px;
    opacity: 0.3;
}

.toggle_box{
    border-radius: 1rem;
    height: 20px;
    width: 50px;
    background-color: antiquewhite;
    position: relative;
    cursor: pointer;
    left: 150px;
}
#checkbox{
    display: none;
}
.circle{
    border-radius: 1rem;
    height: 20px;
    width: 25px;
    background-color: black;
    position: relative;
    left: 0px;
}
.separation{
    border: 1px solid rgb(83, 83, 182);
    position: relative;
    top: 300px;
    width: 90%;
    left: 80px;
}
.experience{
    position: relative;
    top: 400px;
    width: 90%;
    height: 200px;
    left: 80px;
    color: aliceblue;
}


.wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.wheel {
    width: 200px;
    height: 200px;
    border: 1px solid #a59e9e;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    animation: rotate 20s linear infinite;
}

.node {
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.1s linear;
} 

/* Position nodes on the wheel */
#node1 {
    top: 0px;
    left: 40px;
}

#node2 {
    bottom: 43px;
    left: 0px;
}

#node3 {
    right: 0px;
    top: 50px;
}
#node4 {
    right: 45px;
    top: 175px;
}

.node:hover {
    transform: scale(15);
    background-color: orange;
}
/* Rotating animation for the wheel */
 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 
