*{
    margin: 0px;
}
body{
    background-color: rgb(44, 18, 69);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
    color: aliceblue;
    position: fixed;
    width: 100%;
    height: 5vh;
    z-index: 10;
}
.bt{
    border: none;
    position: relative;
    left: 350px;
    top: 90px;
}
.bt button{
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 1rem;
    background-color: blueviolet;
    cursor: pointer;
    width: 170px;
    
}
.bt button a{
    text-decoration: none;
    color: #ffffff;
}
.bt button:hover{
    box-shadow: 5px 5px 5px rgba(202, 196, 196, 0.4);
    font-size: 20px;
}
.bt a:hover{
    color: black;
}
.heading{
    font-size: 22px;
    font-weight: 900;
}
.pages >ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    font-size: 19px;
    cursor: pointer;
    position: relative;
    left: 300px;
}
.pages ul li:hover {
    color: black; /* Change text color to white */
}

/* .body{
    background-color: rgb(44, 18, 69);
    color: aliceblue;
    height: 100vh;
    width: 100%;
} */

.animations{
    color: aliceblue;
    height: 20px;
    width: 422px;
    text-align: center;
    position: relative;
    left: 265px;
    top: 273px;
    font-size: 33px;
}
#home{
    color: brown;
}
#img img {
    position: relative; 
    left: 930px;
    top: 200px;
    height: 350px;
    width: 500px;
    opacity: 0.3;
}

.toggle_box{
    border-radius: 1rem;
    height: 20px;
    width: 50px;
    background-color: antiquewhite;
    position: relative;
    cursor: pointer;
    left: 150px;
}
#checkbox{
    display: none;
}
.circle{
    border-radius: 1rem;
    height: 20px;
    width: 25px;
    background-color: black;
    position: relative;
    left: 0px;
}
.separation{
    border: 1px solid rgb(83, 83, 182);
    position: relative;
    top: 300px;
    width: 90%;
    left: 80px;
}
.separation1{
    border: 1px solid rgb(83, 83, 182);
    position: relative;
    top: 900px;
    width: 90%;
    left: 80px;
}
.experience{
    position: relative;
    top: 400px;
    width: 90%;
    height: 200px;
    left: 80px;
    color: aliceblue;
}
h2{
    position: relative;
    top: 250px;
    left: 750px;
    width: 250px;
    align-items: center;
}


.wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.wheel {
    width: 500px;
    height: 500px;
    border: 1px solid #a59e9e;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    animation: rotate 18s linear infinite;
}

.node {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s linear;
    animation: rotateNode1 18s linear infinite;
} 

.node:hover{
    /* transform: scale(5); */
    width: 300px;
    height: 300px;
    background-color: orange;
}

/* Position nodes on the wheel */
#node1 {
    top: 20px;
    left: 40px;
}

#node2 {
    bottom: 70px;
    left: 10px;
}

#node3 {
    right: 15px;
    top: 50px;
}
#node4 {
    right: 0px;
    top: 350px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 
@keyframes rotateNode1 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg); /* Opposite direction to cancel rotation */
    }
}
@keyframes rotateNode2 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg); /* Opposite direction to cancel rotation */
    }
}
@keyframes rotateNode3 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg); /* Opposite direction to cancel rotation */
    }
}
@keyframes rotateNode4 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg); /* Opposite direction to cancel rotation */
    }
} 

#node1 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 50%;
}
#node2 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 50%;
}
#node3 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
}
#node4 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
}
.description {
    display: none;
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 90%;
    left: 15px;
    top: 100px;
    color: #ffffff;
}
.node:hover img {
    opacity: 0;
}

.node:hover .description {
    display: block;
}
.contact{
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
}
.contact h2{
    position: relative;
    left: 120px;
    font-size: 30px;
    top: 950px;
}
.info ul{
    list-style: none;
}
.info ul li{
    position: relative;
    font-size: 20px;
    left: 5px;
    top: 1000px;
    bottom: 500px;
    padding: 10px;
}
.info a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: blue;
}
.info ul li svg{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 0px;
    fill: #ffffff;
}